.cols {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-gap: 0;
    height: 100vh;

    grid-template-areas: 
    "banner banner banner"
    "photo write other";
}

.col00 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;

    grid-area: banner;
}

.col01 {
    display: grid;
    justify-content: center;

    grid-template-rows: 320px 50px;

    grid-area: photo;
}

.col02 {
    grid-area: write;
}

.col03 {
    grid-area: other;
}

.pos {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: part01;
}

.pos1 {
    grid-area: part01;
}

.pos2 {
    grid-area: part01;
}

.lc02 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width:0) and (max-width:414px) {

    .cols {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 400px 1fr;

        grid-template-areas: 
        "banner"
        "photo"
        "write"
        "other";
    }
}

@media screen and (min-width:415px) and (max-width:768px) {
    .cols {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 250px 1fr;

        grid-template-areas: 
        "banner"
        "photo"
        "write"
        "other";
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {

    .cols {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 400px 3fr;

        grid-template-areas: 
        "banner banner"
        "photo photo"
        "write write"
        "other other";
    }

}
